/* color palette from <https://github.com/vuejs/theme> */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  /* colors */
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --gray-normal: #c2c9d1;
  --gray-light: #d9dcdf;
  --gray-lighter: #ecedee;
  /* app main colors */

  --primary-color: #00042c;
  --secondary-color: #12163d;
  --tertiary-color: #ff6d7f;
  --primary-color-light: #00042c;
  --secondary-color-light: #252736;
  --tertiary-color-light: #ff6d7f;

  /* timers colors */
  --promodoro-primary-color: #00042c;
  --promodoro-secondary-color: #12163d;
  --promodoro-tertiary-color: #ff6d7f;

  --shortBraek-primary-color: #00042c;
  --shortBraek-secondary-color: #12163d;
  --shortBraek-tertiary-color: #ff6d7f;

  --longBreak-primary-color: #00042c;
  --longBreak-secondary-color: #12163d;
  --longBreak-tertiary-color: #ff6d7f;

  /* fonts */
  --headingFont: "Roboto", sans-serif;
  --bodyFont: "Nunito", sans-serif;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  /* background: var(--secondary-color); */
}
