@import "./base.css";

/* customizing ant design styling */

/* modal */
/* .ant-modal-content .ant-modal-body {
  padding: 0;
} */
.ant-modal-close svg {
  height: 22px;
  width: 22px;
}

/* switch button */
.ant-switch {
  @apply bg-secondary;
}
.ant-switch-handle::before {
  @apply bg-quaternary;
}
.ant-switch-checked {
  @apply bg-tertiary;
}
