@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* google fonts  */

@layer base {
  :root {
    /* colors */
    --color-app-primary: 115deg 34% 87%;
    --color-app-secondary: 0deg 0% 100%;
    --color-app-tertiary: 191deg 100% 27%;
    --color-app-quaternary: 182deg 28% 73%;
    --color-app-modal-bg: 0 0 0;

    /* fonts */
    font-family: "Poppins";
  }

  body {
    background-color: hsl(var(--color-app-primary));
  }
  /* @media (prefers-color-scheme: dark) {
    :root {
      --color-app-primary: 192deg 26% 7% !important;
      --color-app-secondary: 0deg 0% 0% !important;
      --color-app-tertiary: 191deg 100% 27% !important;
      --color-app-quaternary: 212deg 19% 29% !important;
    } 
   } */
  /* 
  :root[class="dark"] {
    --color-app-primary: 192deg 26% 7%;
    --color-app-secondary: 0deg 0% 0%;
    --color-app-tertiary: 191deg 100% 27%;
    --color-app-quaternary: 212deg 19% 29%;
  } */
}
