@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 115deg 34% 87%;
    --color-secondary: 0deg 0% 100%;
    --color-tertiary: 191deg 100% 27%;
    --color-quaternary: 182deg 28% 73%;
    --color-modal-bg: 0 0 0;
  }
  body {
    background-color: hsl(var(--color-primary));
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: 192deg 26% 7%;
      --color-secondary: 0deg 0% 0%;
      --color-tertiary: 191deg 100% 27%;
      --color-quaternary: 212deg 19% 29%;
    }
  }

  :root[data-theme="dark-mode"] {
    --color-primary: 192deg 26% 7%;
    --color-secondary: 0deg 0% 0%;
    --color-tertiary: 191deg 100% 27%;
    --color-quaternary: 212deg 19% 29%;
  }
}
