doctype html
html
  head
    title Email Verification
    link(rel='stylesheet', href='/styles/index.css')
    style.
      section{
      max-width: 700px;
      }
      .styled-button {
        border: none;
        padding: 15px 40px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        background-color: #3772FF;
      }
      .styled-button a {
        text-decoration : none ;
        color: #fff;
      }
      .styled-button:hover {
        background-color: #0056b3;
      }
      .styled-button:active {
        background-color: #0056b3;
      }

      h2.page-title{
        color : #E53535;
      }
      p{
        font-size: 20px;
      }
  body
    center
      h2.page-title #{title}    
      p #{description}
      div
        a(href="https://pro-focus.vercel.app")
          button.styled-button Home