@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}
.Title {
  font-size: 70px;
  font-family: var(--headingFont);
  color: var(--primary-color);
}
a {
  text-decoration: none;
  transition: 0.4s;
}
